html {
	font-size: 62.5%;
	/* 10÷16=62.5% */
	padding: 0;
	margin: 0;
}

body {
	font-family: "Microsoft YaHei", 微软雅黑, Arial;
	text-align: center;
	font-size: 14px;
	background-color: #EEEEEE;
	margin: 0;
	padding: 0;
	color: #333333;
}

input {
	padding: 0;
	margin: 0;
}

div,
input,
button {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*a,
a:hover,
a:visited {
	text-decoration: none;
	color: #333333;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}*/

a:link {
	color: #333333;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-decoration: none;
}

a:visited {
	color: #333333;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-decoration: none;
}

a:hover {
	color: #333333;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-decoration: none;
}

a:active {
	color: #333333;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-decoration: none;
}


/*red-text*/

#header {
	color: #333333;
	height: 44px;
	width: 100%;
	border-bottom: 1px solid #999999;
	line-height: 44px;
	font-size: 18px;
	position: fixed;
	top: 0;
	z-index: 10;
	background-color: #ffffff;
}

.left-arrow {
	/*position: absolute;*/
	float: left;
	height: 16px;
	margin-top: 14px;
	margin-left: 12px;
	/*z-index: 2;*/
}

.back {
	width: 44px;
	height: 44px;
	position: absolute;
	left: 0;
	z-index: 10;
}


/*.loading {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 150px;
	height: 30px;
	line-height: 30px;
	padding-left: 25px;
	padding-right: 5px;
	background: #fff url(../images/loading.gif) no-repeat scroll 0px 5px;
	background-size: 25px 25px;
	border: 1px solid #95B8E7;
	color: #696969;
	font-family: 'Microsoft YaHei';
}*/

@charset "utf-8";

/* CSS Document */
/*
body,
html {
	height: 100%;
}
*/
body {
	font-family: "Microsoft YaHei" !important;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,
q:after {
	content: '';
}

abbr,
acronym {
	border: 0;
}

a {
	cursor: pointer;
}

a:hover {
	text-decoration: none !important;
}

.clear {
	clear: both
}

#alert .mask {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 99;
	background-color: rgb(45, 45, 45);
	opacity: 0.7;
	display: none;
}

#alert .pop-up {
	width: calc(100% - 100px);
	height: 134px;
	position: fixed;
	z-index: 99;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #FFFFFF;
	border-radius: 10px;
	display: none;
}

#alert .message {
	height: 84px;
	border-bottom: 2px solid #DDDDDD;
	line-height: 84px;
	color: #333333;
	font-size: 18px;
	font-weight: 600;
	width: 100%;
	display: table;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-bottom: 0px;
	box-sizing: border-box;
}

#alert .message div {
	vertical-align: middle;
	display: table-cell;
}

#alert .confirm {
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #FB7292;
	font-size: 18px;
	font-weight: 500;
	margin: 0;
	background-color: #FFFFFF;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}