.content {
	width: calc(100% - 48px);
	margin: 0 auto;
}

.enter-number {
	margin-top: 210px;
	margin-bottom: 60px;
	font-size: 36px;
}

.tracking-number {
	margin: 0 auto;
	width: 100%;
	height: 88px;
	border: none;
	background-color: #DDDDDD;
	font-size: 32px;
}

.tip {
	font-size: 24px;
	margin-top: 40px;
	color: #333333;
	margin-bottom: 110px;
	text-align: left;
}

.confirm-delivery {
	width: 100%;
	height: 90px;
	border: none;
	background-color: #FB7292;
	border-radius: 10px;
	color: #fff;
	font-size: 36px;
	font-weight: 400;
}

.mask {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 99;
	background-color: rgb(45, 45, 45);
	opacity: 0.5;
	display: none;
}

.pop-up {
	width: calc(100% - 200px);
	height: 268px;
	position: fixed;
	z-index: 99;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #FFFFFF;
	border-radius: 10px;
	display: none;
}

.message {
	height: 168px;
	border-bottom: 1px solid #DDDDDD;
	line-height: 168px;
	color: #333333;
	font-size: 36px;
	font-weight: 600;
}

.confirm {
	height: 100px;
	line-height: 100px;
	color: #FB7292;
	font-size: 36px;
	font-weight: 500;
}

button {
	outline: none;
}