.new-order-content {
	background-color: #EEEEEE;
	margin-top: 55px;
	width: 100%;
}

.new-order-content-item {
	background-color: #FFFFFF;
	padding: 15px 14px;
	width: calc(100% - 24px);
	height: inherit;
	clear: both;
	margin-bottom: 10px;
}

.new-order-content-top {
	width: 100%;
}

.new-order-content-bottem {
	margin-top: 10px;
	width: 100%;
}

.new-order-content-bottem-left {
	float: left;
	width: 25%;
	text-align: left;
	margin-right: 15px;
	font-size: 15px;
}

.new-order-content-bottem-right {
	float: left;
	width: 60%;
	text-align: left;
	font-size: 15px;
	color: #333333;
}

.new-order-content-bottem-right span {
	font-size: 15px;
	color: #FD363B;
}

.content-item-left {
	float: left;
	padding-right: 15px;
	width: 25%;
}

.content-item-left img {
	width: 90px;
	height: 90px;
}

.content-item-left div {
	text-align: left;
	color: #333333;
	font-size: 15px;
}

.content-item-center {
	float: left;
	width: calc(65% - 15px);
}

.content-item-center-top1 {
	color: #999999;
	font-size: 14px;
	text-align: left;
	line-height: 16px;
}

.content-item-center-top2 {
	color: #999999;
	font-size: 14px;
	text-align: left;
	line-height: 16px;
	border-bottom: 1px dotted #e7e7e7;
	padding-bottom: 4px;
}

.content-item-center-top3 {
	color: #999999;
	font-size: 14px;
	text-align: left;
	line-height: 16px;
}

.content-item-center-top4 {
	color: #333333;
	font-size: 14px;
	text-align: left;
	line-height: 16px;
}

.content-item-center-text {
	text-align: left;
	font-size: 14px;
	line-height: 16px;
	color: #333333;

}
.ptop10{
	padding-top: 7px;
}

.content-item-right {
	float: right;
}

.content-item-right img {
	height: 16px;
}

.content-item-center-top5 {
	float: left;
	width: 100%;
	text-align: left;
	font-size: 16px;
	color: #333333;
}

.content-item-center-top5 span {
	font-size: 16px;
	color: #FD363B;
}