.content {
	margin-top: 55px;
	background-color: #EEEEEE;
	width: 100%;
}

.order-infor {
	background-color: #FFFFFF;
	padding: 15px 12px;
	width: calc(100% - 24px);
	margin-bottom: 10px;
}

.content1 {
	border-bottom: 1px solid #dddddd;
	width: 100%;
}

.number {
	color: #999999;
	font-size: 14px;
	text-align: left;
}

.time {
	color: #999999;
	font-size: 14px;
	text-align: left;
	margin-top: 8px;
	margin-bottom: 10px;
}

.content2 {
	border-bottom: 1px solid #DDDDDD;
	width: 100%;
	margin-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	margin-top: 7px;
	font-size: 14px;
}

.content4 {
	border-bottom: 1px solid #DDDDDD;
	width: 100%;
	margin-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	font-size: 15px;
}

.content4 span {
	color: #FD363B;
}

.content3 {
	font-size: 15px;
	text-align: left;
	margin-top: 10px;
}

.content3 span {
	color: #FD363B;
}

.order-products {
	background-color: #FFFFFF;
	padding: 0px 12px;
}

.order-product {
	padding-top: 15px;
	width: calc(100%);
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 15px;
}

.order-product-left {
	float: left;
	padding-right: 15px;
	width: 25%;
}

.order-product-left img {
	width: 90px;
	height: 90px;
}

.order-product-center {
	float: left;
	width: 65%;
	text-align: left;
	font-size: 15px;
	color: #333333;
}

.order-product-right {
	float: right;
}

.order-product-right img {
	height: 16px;
}

.product-price {
	margin-bottom: 10px;
}

.order-money {
	text-align: right;
	font-size: 15px;
	color: #333333;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 10px;
}

.footer {
	padding: 15px 12px;
	width: calc(100% - 24px);
	background-color: #FFFFFF;
}

.confirm-order {
	width: 100%;
	height: 45px;
	border: none;
	background-color: #FB7292;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
}

button {
	outline: none;
}

.mask {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 99;
	background-color: rgb(45, 45, 45);
	opacity: 0.5;
	display: none;
}

.pop-up {
	width: calc(100% - 24px);
	height: 156px;
	position: fixed;
	z-index: 99;
	margin: auto;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 10px;
	display: none;
}

.message {
	height: 44px;
	border-bottom: 1px solid #999999;
	line-height: 44px;
	color: #666666;
	font-size: 15px;
	background-color: #FFFFFF;
}

.mobile {
	height: 44px;
	line-height: 44px;
	color: #333333;
	font-size: 18px;
	background-color: #FFFFFF;
}

.confirm {
	height: 44px;
	line-height: 44px;
	color: #FB7292;
	font-size: 18px;
	font-weight: 500;
	margin: 12px auto;
	background-color: #FFFFFF;
	border-radius: 10px;
}
