.menu {
	position: fixed;
	top: 45px;
	width: 100%;
	padding: 0;
	margin: 0;
	/*margin-top: 45px;*/
	height: 44px;
	list-style: none;
	z-index: 2;
}

.menu li {
	width: 33.3%;
	float: left;
	height: 44px;
	background-color: #FFFFFF;
	font-size: 14px;
	line-height: 44px;
	box-sizing: border-box;
}

.current {
	border-bottom: 1px solid #FD363B;
}

.search-input {
	margin-top: 110px;
	padding-left: 12px;
	padding-right: 12px;
}

.order-search {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	padding: 0;
	height: 44px;
	width: calc(100% - 48px);
	background-image: url(../images/search-gray.png);
	background-size: auto 24px;
	background-repeat: no-repeat;
	background-position: 12px 10px;
	padding-left: 48px;
	border: none;
	background-color: #666666;
	font-size: 18px;
	color: #FFFFFF;
}

.search-input p {
	font-size: 12px;
	text-align: left;
	margin-top: 10px;
	color: #999999;
}

.choose-date-title {
	margin: 20px auto;
	font-size: 18px;
}

.choose-date {
	height: 100px;
	width: calc(100% - 24px);
	margin: 0 auto;
}

.start-date {
	width: calc(50% - 10px);
	height: 100px;
	margin-right: 10px;
	float: left;
}

.start-date-content {
	background-image: url(../images/calendar.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

.end-date {
	width: calc(50% - 10px);
	margin-left: 10px;
	height: 100px;
	float: left;
}

.end-date-content {
	background-image: url(../images/calendar.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

.select-date {
	padding: 25px 0 10px 0;
	width: calc(100% - 30px);
	margin: 0 auto;
	text-align: left;
	font-size: 18px;
	color: #999999;
	border-bottom: 1px dotted #DDDDDD;
}

.date {
	padding-top: 10px;
	width: calc(100% - 30px);
	margin: 0 auto;
	font-size: 15px;
	-webkit-appearance: none;
	border: none;
	background-image: url(../images/solid-down-arrow.png);
	background-size: auto 10px;
	background-repeat: no-repeat;
	background-position: 95% 15px;
	height: 20px;
	line-height: 20px;
}

.start-search {
	width: calc(100% - 24px);
	height: 45px;
	margin-top: 50px;
	border: none;
	background-color: #FB7292;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
}