.time-today {
	margin-top: 45px;
	height: 32px;
	color: #666666;
	font-size: 12px;
	line-height: 32px;
}

.data {
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
	background-color: #FFFFFF;
}

.total-sales {
	width: 50%;
	float: left;
	border-right: 1px solid #DDDDDD;
	box-sizing: border-box;
}

.total-sales img {
	width: 30px;
	height: 30px;
}

.total-sales .text {
	font-size: 17px;
	margin-top: 5px;
}

.total-sales .total {
	font-size: 18px;
	color: #FD363B;
	margin-top: 15px;
}

.total-sales .total span {
	font-size: 24px;
}

.today-visitors {
	width: 50%;
	float: left;
}

.today-visitors img {
	width: 40px;
	height: 40px;
}

.today-visitors .text {
	font-size: 17px;
	margin-top: 5px;
}

.today-visitors .total {
	font-size: 24px;
	color: #FD363B;
	margin-top: 15px;
}

.today-visitors .total span {
	font-size: 18px;
	color: #666666;
}

.order {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	background-color: #F5F5F5;
}

.order-data-item {
	width: 50%;
	float: left;
}

.order-data-item .text {
	font-size: 15px;
	color: #666666;
}

.order-data-item .total {
	margin-top: 10px;
	font-size: 18px;
}

.order-data-item .text span {
	font-size: 15px;
}

.withdraw-content {
	width: 100%;
	background-color: #FFFFFF;
}

.withdraw {
	width: calc(100% - 24px);
	margin: 0 auto;
}

.withdraw1 {
	padding: 10px 0px;
	width: 60%;
	float: left;
	text-align: left;
}

.withdraw2 {
	width: 40%;
	float: left;
	text-align: right;
}

.withdraw3 {
	width: 40%;
	float: left;
	text-align: right;
}

.withdraw1-1 {
	font-size: 15px;
}

.withdraw1-2 {
	margin-top: 10px;
	font-size: 18px;
	color: #FD363B;
}

.withdraw2 button {
	font-size: 14px;
	outline: none;
	border: 2px solid #FB7292;
	background-color: #FFFFFF;
	border-radius: 25px;
	color: #FB7292;
	margin-top: 27px;
	margin-bottom: 27px;
	height: 40px;
	line-height: 34px;
	width: 100px;
}

.withdraw3 button {
	font-size: 14px;
	outline: none;
	border: 2px solid #B9B9B9;
	background-color: #FFFFFF;
	border-radius: 25px;
	color: #B9B9B9;
	margin-top: 27px;
	margin-bottom: 27px;
	height: 40px;
	line-height: 34px;
	width: 100px;
}

.mask {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 99;
	background-color: rgb(45, 45, 45);
	opacity: 0.6;
	display: none;
}

.pop-up {
	width: calc(100% - 100px);
	height: 134px;
	position: fixed;
	z-index: 99;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #FFFFFF;
	border-radius: 10px;
	display: none;
}

.alert-message {
	height: 84px;
}

.title {
	font-size: 18px;
	padding-top: 20px;
	padding-bottom: 11px;
	line-height: 20px;
	font-weight: 600;
}

.message {
	/*height: 168px;*/
	border-bottom: 1px solid #DDDDDD;
	/*line-height: 168px;*/
	color: #333333;
	padding-bottom: 18px;
	line-height: 15px;
	font-size: 11px;
	/*box-sizing: border-box;*/
}

.confirm {
	/*height: 100px;*/
	line-height: 50px;
	color: #FB7292;
	font-size: 18px;
	font-weight: 500;
}

.cancel {
	width: 50%;
	float: left;
	border-right: 1px solid #DDDDDD;
	box-sizing: border-box;
}

.go-on {
	width: 50%;
	float: left;
}