.content {
	margin-top: 110px;
	background-color: #EEEEEE;
	width: 100%;
}

.order-infor {
	background-color: #FFFFFF;
	padding: 30px 24px;
	width: calc(100% - 48px);
	margin-bottom: 20px;
}

.content1 {
	border-bottom: 1px solid #dddddd;
	width: 100%;
}

.number {
	color: #999999;
	font-size: 24px;
	text-align: left;
}

.time {
	color: #999999;
	font-size: 24px;
	text-align: left;
	margin-top: 16px;
	margin-bottom: 20px;
}

.content2 {
	border-bottom: 1px solid #DDDDDD;
	width: 100%;
	margin-top: 20px;
	padding-bottom: 20px;
	text-align: left;
	margin-top: 14px;
	font-size: 28px;
}

.content4 {
	border-bottom: 1px solid #DDDDDD;
	width: 100%;
	margin-top: 20px;
	padding-bottom: 20px;
	text-align: left;
	font-size: 30px;
}

.content4 span {
	color: #FD363B;
}

.content3 {
	font-size: 30px;
	text-align: left;
	margin-top: 20px;
}

.content3 span {
	color: #FD363B;
}

.order-products {
	background-color: #FFFFFF;
	padding: 0px 24px;
}

.order-product {
	padding-top: 30px;
	width: calc(100%);
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 30px;
}

.order-product-left {
	float: left;
	padding-right: 30px;
	width: 25%;
}

.order-product-left img {
	width: 180px;
	height: 180px;
}

.order-product-center {
	float: left;
	width: 65%;
	text-align: left;
	font-size: 30px;
	color: #333333;
}

.order-product-right {
	float: right;
}

.order-product-right img {
	height: 32px;
}

.product-price {
	margin-bottom: 20px;
}

.order-money {
	text-align: right;
	font-size: 30px;
	color: #333333;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 20px;
}

.footer {
	padding: 30px 24px;
	width: calc(100% - 48px);
	background-color: #FFFFFF;
}

.confirm-order {
	width: 100%;
	height: 90px;
	border: none;
	background-color: #FB7292;
	border-radius: 10px;
	color: #fff;
	font-size: 36px;
	font-weight: 400;
}

button {
	outline: none;
}

.mask {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 99;
	background-color: rgb(45, 45, 45);
	opacity: 0.5;
	display: none;
}

.pop-up {
	width: calc(100% - 24px);
	height: 312px;
	position: fixed;
	z-index: 99;
	margin: auto;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 10px;
	display: none;
}

.message {
	height: 88px;
	border-bottom: 2px solid #999999;
	line-height: 88px;
	color: #666666;
	font-size: 30px;
	background-color: #FFFFFF;
}

.mobile {
	height: 88px;
	line-height: 88px;
	color: #333333;
	font-size: 36px;
	background-color: #FFFFFF;
}

.confirm {
	height: 88px;
	line-height: 88px;
	color: #FB7292;
	font-size: 36px;
	font-weight: 500;
	margin: 24px auto;
	background-color: #FFFFFF;
	border-radius: 10px;
}
